# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin
obj
debug
ipch

# Gradle
.gradle

# Maven packages/etc
target
build

#VC++ stuff
*.suo
*.sdf
*.exe

# System's crap
Thumbs.db
.DS_Store
